Problem II - Buy and sell the next day
Buy the stock on the fourth day open, if the stock closes down consecutively for three days.
Exit on the next day open.
Optional: Optimize the strategy by exiting the long position on the same day close.
Also, you can optimize the number of down days. There are high chances that the number of down days would be different for each stock.